@font-face {
  font-family: 'Philosopher-Regular';
  src: url('/NaKolesah/fonts/Philosopher-Regular.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-Bold';
  src: url('/NaKolesahfonts/Philosopher-Bold.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-BoldItalic';
  src: url('/NaKolesahfonts/Philosopher-BoldItalic.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-Italic';
  src: url('/NaKolesahfonts/Philosopher-Italic.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Risque-Regular';
  src: url('/NaKolesahfonts/Risque-Regular.ttf');
  font-size: normal;
  font-weight: normal;
}