@font-face {
  font-family: 'Philosopher-Regular';
  src: url("../fonts/Philosopher-Regular.ttf");
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-Bold';
  src: url("../fonts/Philosopher-Bold.ttf");
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-BoldItalic';
  src: url("../fonts/Philosopher-BoldItalic.ttf");
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Philosopher-Italic';
  src: url("../fonts/Philosopher-Italic.ttf");
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Risque-Regular';
  src: url("../fonts/Risque-Regular.ttf");
  font-size: normal;
  font-weight: normal;
}

nav {
  color: #fff;
  height: 80px;
}

.kolesa {
  font-family: Risque-Regular;
  font-size: 28px;
}

.kolesa:hover {
  color: #808e97;
  cursor: pointer;
}

.navbar-nav {
  font-size: 18px;
  font-family: Philosopher-Regular;
}

.navbar-nav:hover {
  cursor: pointer;
  color: green;
}

/*   ----Slider----   */
.title {
  font-size: 60px;
  text-transform: uppercase;
  font-family: Philosopher-Regular;
}

.text {
  font-size: 25px;
  font-family: Philosopher-Regular;
}

/*   ----Content----   */
.content {
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6FA;
  font-family: Philosopher-Regular;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  -webkit-box-shadow: 2px 2px 2px #252525;
          box-shadow: 2px 2px 2px #252525;
  border: 3px solid #6610f2;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 10px #252525;
          box-shadow: 5px 5px 10px #252525;
}

.btn-card {
  background-color: #483D8B;
  border-color: #007bff;
  width: 12rem;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  color: white;
}

.btn-card:hover {
  -webkit-box-shadow: 5px 5px 10px #252525;
          box-shadow: 5px 5px 10px #252525;
}

/*   ----Footer----   */
.footer {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #483D8B;
  padding: 50px 0 0 0;
  color: #b3b3b3;
  overflow: hidden;
}

.footer section {
  width: 100%;
  overflow: hidden;
}

.logo {
  color: white;
  font-family: Risque-Regular;
  font-size: 28px;
}

.logo:hover {
  color: #808e97;
  text-decoration: none;
}

footer section.bottom {
  border-top: 1px solid #808080;
  font-size: 12px;
  font-family: Philosopher-Bold;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0 30px;
  margin: 40px 0 0 0;
  text-align: center;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

small {
  font-size: 18px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.widjets ul {
  list-style: none;
}

.info-link {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  list-style: none;
  font-family: Philosopher-Regular;
}

.info-link:hover {
  color: #808e97;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Philosopher-Regular;
}

.content {
  height: 50rem;
  background-color: #E6E6FA;
  padding: 20px;
}

.fluid {
  background-color: #E6E6FA;
}

.route {
  display: none;
}

.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */