@font-face {
  font-family: 'Philosopher Regular';
  src: url('Philosopher.eot');
  src: url('Philosopher.eot?#iefix') format('embedded-opentype'),
  url('Philosopher.woff') format('woff'),
  url('Philosopher.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}