.card-box       
    display: flex
    justify-content: space-between    

.card-body 
  padding: 30px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.card    
  box-shadow: 2px 2px 2px rgb(37, 37, 37)


.card:hover 
  box-shadow: 5px 5px 10px rgb(37, 37, 37) 


.btn-primary 
  width: 200px
  color: #fff
  background-color:#dc3545 

.btn-primary:hover     
  background-color:  rgb(45, 93, 184)   
