nav
  color: #fff
  height: 80px
  
.kolesa 
  font-family: Risque-Regular
  font-size: 28px  

.kolesa:hover 
  color: rgb(128, 142, 151) 
  cursor: pointer  

.navbar-nav
  font-size: 18px
  font-family: Philosopher-Regular


.navbar-nav:hover 
  cursor: pointer
  color: green 

