<<<<<<< HEAD
/*   ----navbar----   */ 

header  
  position: fixed
  position: absolute
  width: 100%

nav 
  height: 70px
  background-color: #17a2b8
  box-shadow: 0 0 20px 4px

.navbar-light .navbar-brand 
  color: white
  font-family: Risque-Regular
  font-size: 24px 
   
.navbar-light .navbar-brand:hover
  color: 	#B0C4DE

nav .nav-item 
  font-size: 16px
  margin-left: 20px
  

nav .nav-item::after
  content: ''
  display: block
  width: 0
  height: 1px
  background: #fff
  transition: width 0.5s  

nav .nav-item:hover::after
  width: 95%
  transition: 0.5s 
=======
nav
  color: #fff
  height: 80px
  
.kolesa 
  font-family: Risque-Regular
  font-size: 28px  

.kolesa:hover 
  color: rgb(128, 142, 151) 
  cursor: pointer  

.navbar-nav
  font-size: 18px
  font-family: Philosopher-Regular


.navbar-nav:hover 
  cursor: pointer
  color: green 

>>>>>>> e3ab08888af6db95163ebf93ba6a35370996756d
