@import 'fonts' //Настройка шрифтов
@import 'nav' //Шапка сайта
@import 'slider' // Slider
@import 'content' // Контент
@import 'footer' // Footer

 @import 'search' // страничка Найти поездку


* 
  box-sizing: border-box
body
  margin: 0
  padding: 0 
  font-family: Philosopher-Regular
  
.content 
  height: 50rem
  background-color: #E6E6FA
  padding: 20px


.fluid 
  background-color: #E6E6FA
.route 
  display: none
.active 
  display: block

btn 

.btn-danger
  background-color: #483D8B



    
    






    

     