@import 'fonts' //Настройка шрифтов
@import 'nav'// Шапка сайта
@import 'banner' //Banner
@import 'section' //Section 
@import 'footer'// Футер сайта



*
  box-sizing: border-box
html
  height: 100%
  overflow: hidden 
  

body
  margin: 0
  padding: 0 
  font-family: Philosopher-Regular
  background-color: #F8F8FF  
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

img 
  max-width: 100%
  height: auto


  




  






